body {
    background-image: url(../assets/images/room2/room2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

#notebook {
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background: red;
    display: none;
}

#counter {
    font-size: 5em;
    color: white;
}

#story-button,
#notebook-button,
#exit-button {
    position: fixed;
    bottom: 10px;
}

#story-button {
    left: 10px;
}

#notebook-button {
    right: 10px;
}

#exit-button {
    left: 50%;
    transform: translateX(-50%);
}

.item {
    transition: opacity 1s ease-out;
}

.item.hide {
    opacity: 0;
}

img {
    image-rendering: pixelated;
    filter: blur(1.5px);
}

#wheelchair {
    width: 50em;
    position: absolute;
    bottom: -50em;
    right: -25em;
}