body {
    background-image: url(../assets/images/room1/room1.jpeg);
    background-color: white;
    background-repeat: no-repeat;
    background-position: top;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: green;
    display: block;
    z-index: 100 !important;
}

#notebook {
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-image: url(../assets/images/notebook.png);
    display: none;
}

#counter {
    font-size: 5em;
    color: white;
}

#story-button,
#notebook-button,
.exit-button {
    position: fixed;
    bottom: 10px;
}

#story-button {
    left: 10px;
}

#notebook-button {
    right: 10px;
}

.exit-button {
    left: 50%;
    transform: translateX(-50%);
}

.item {
    transition: opacity 1s ease-out;
}

.item.hide {
    opacity: 0;
}

img {
    width: 15em;
}

#item1room1 {
    position: absolute;
    bottom: 12em;
    right: 21em;
    width: 10em;
}

#item3room1 {
    position: absolute;
    bottom: -1em;
    right: 40em;
    width: 10em;
}

#item4room1 {
    position: absolute;
    bottom: -13em;
    right: -10em;
    width: 25em;
}

#item5room1 {
    position: absolute;
    bottom: 8em;
    left: 40em;
    width: 5em;
}