       *,
        *::after,
        *::before {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

        /*********************/
        /* CUSTOM PROPERTIES */
        /*********************/
        :root {
            --color-text: #111;
        }

        body,
        html {
            list-style-type: none;
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            max-height: 100vh;
            width: 100%;
            overflow: hidden;
        }



                                /* body,
                                html {
                                    list-style-type: none;
                                    box-sizing: border-box;
                                    padding: 0;
                                    margin: auto;
                                    width: 100%;
                                    height: 100%;
                                    max-width: 1777px;
                                    max-height: 974px;
                                    aspect-ratio: 1777/974;
                                    overflow: hidden;
                                    position: relative;
                                } */

        @font-face {
            font-family: "Gotham Book";
            src: url("../fonts/gotham_book-webfont.woff") format;
        }

